
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p {
    margin-bottom: 0 !important;
}
.header { 
    grid-area: header;
    background-image: linear-gradient(#37A1FF, #1278D2);
}
.banner { 
    grid-area: banner;
    background-image: url('./access/banner/bn2.png');
    background-size: cover;
}
.main { 
    grid-area: main;
}
.canle {
    width: 1220px;
    margin: 0px auto;
}


.header_img_logo {
    grid-area: header_img_logo;
}
.header_trangchu {
    grid-area: header_trangchu;
}
.header_simso {
    grid-area: header_simso;
}
.header_goicuoc {
    grid-area: header_goicuoc;
}
.header_tintuc {
    grid-area: header_tintuc;
}
.header_hotro {
    grid-area: header_hotro;
}
.header_dangnhap {
    grid-area: header_dangnhap;
}
.header_dangky {
    grid-area: header_dangky;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    padding: 10px 25px;
    width: 158px;
    height: 42px;
}
.header_dangky p {
    background: linear-gradient(180deg, #37A1FF 0%, #1278D2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.header_menu_icon img {
    margin: auto;
    align-self: center;
    display: block;   
}
.header_menu_icon {
    display: flex;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
}

.lo {
    display: flex;
}
.lo > p {
    align-self: center;
    padding-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
    color:#fff
}
.text_gradient {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align: center;
}
#header_content {
    height: 100%;
    display: grid;
    grid-template-areas:
    ' header_img_logo header_trangchu header_simso header_goicuoc header_tintuc header_hotro header_dangnhap header_dangky'
}
#header_content > div{
    align-self: center;
}
.container1 {
    display: grid;
    /* width: 1000px; */
    grid-template-areas:
    'header '
    'banner '
    'main'
    'footer ';
    /* background-color: #2196F3; */
    grid-template-rows:83px 286px auto auto;
    grid-template-columns: repeat(1, 1fr);

}

.main_step {
    display: flex;
    /* padding: 0px 77px; */
    padding-top: 41px;
}
.step {
    width: 25%;
}
.polyon {
   text-align: center;
   margin-top: 12px;

}
.step_text_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 34px;
    letter-spacing: 0.01em;
    background: linear-gradient(180deg, #37A1FF 0%, #1278D2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* form */
#form-info {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
    background-color: #ECECEC;
    border-radius: 16px 16px 0 0;
}
.text_left {
    grid-area: text_left;
}
.text_right {
    grid-area: text_right;
}
#form_1 {
    margin: 23px 31px;
    display: grid;
    grid-template-areas:
    'text_left text_right';
    grid-template-rows:auto auto;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    background-color: #F8F8F8;
    border-radius: 15px;

}

#form_1 span {
    display: flex;
    grid-area: span;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 25px;
    background: linear-gradient(180deg, #37A1FF 0%, #1278D2 100%);
  }
#form_1 p {
    grid-area: p;
}
#form_1 div {
    display: grid;
    grid-template-areas:
    'span p';
    grid-column-gap: 10px;
    padding: 27px;
  }
#form_1 img {
    margin: auto;
    align-self: center;
    display: block; 
    width: 12px;
    height: 12px;
}
#button2 {
    border: none;
    color: white;
    padding: 7px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(0deg, #DB0020 0.85%, #D40222 0.85%, #C70227 18.84%, #CE032E 28.58%, #DD0032 51.9%, #DA052E 84.35%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    border-radius: 10px;

  }

/* fotter */
.footer_content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.footer_content > div {
    width: calc( (100% - 50px) / 4);
}

.footer_content div > p:nth-child(1) {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    background: linear-gradient(0deg, #1F69D9 -25.58%, #105FD6 15.28%, #1462E0 29.31%, #1B67F1 60.84%, #206AFC 95%, #216BFF 173.32%, #1562E1 243.78%, #105FD6 280.23%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.footer_content div > p:nth-child(n+2) {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    padding: 3px 0;
}
.ft_4  h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #277CBE;
}
.ft_4 img {
    height: 73px;
    width: 196px;
}

.ft_4_icon {
    width: 100%;
    display: flex;
    margin-top: 25px;
}
.ft_4_icon img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.ft_last {
    text-align: center;
    padding: 20px 0px 15px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 15px;
}