
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
p {
    margin-bottom: 0 !important;
}
.header { 
    grid-area: header;
    background-image: linear-gradient(#37A1FF, #1278D2);
}
.banner { 
    grid-area: banner;
    background-image: url('../access/banner.png');
    background-size: cover;
}
.main { 
    grid-area: main;
}
.logoList {
    grid-area: logoList;
}

.footer { 
    grid-area: footer;}

.canle {
    width: 1440px;
    margin: 0px auto;
}


.header_img_logo {
    grid-area: header_img_logo;
}
.header_trangchu {
    grid-area: header_trangchu;
}
.header_simso {
    grid-area: header_simso;
}
.header_goicuoc {
    grid-area: header_goicuoc;
}
.header_tintuc {
    grid-area: header_tintuc;
}
.header_hotro {
    grid-area: header_hotro;
}
.header_dangnhap {
    grid-area: header_dangnhap;
}
.header_dangky {
    grid-area: header_dangky;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    padding: 10px 25px;
    width: 158px;
    height: 42px;
}
.header_dangky p {
    background: linear-gradient(180deg, #37A1FF 0%, #1278D2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.header_menu_icon img {
    margin: auto;
    align-self: center;
    display: block;   
}
.header_menu_icon {
    display: flex;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
}

.lo {
    display: flex;
}
.lo > p {
    align-self: center;
    padding-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 142%;
    color:#fff
}

#header_content {
    height: 100%;
    display: grid;
    grid-template-areas:
    ' header_img_logo header_trangchu header_simso header_goicuoc header_tintuc header_hotro header_dangnhap header_dangky'
}
#header_content > div{
    align-self: center;
}
.container1 {
    display: grid;
    /* width: 1000px; */
    grid-template-areas:
    'header '
    'banner '
    'main'
    'footer ';
    /* background-color: #2196F3; */
    grid-template-rows:83px 286px 2181px 250px;
    grid-template-columns: repeat(1, 1fr);

}
.circle {
    border-radius: 50%/50%; 
    /* width: 292px; */
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    background-repeat:round;
    /* height: 292px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight:700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    width: 292px;
    height: 292px;
}

.goiCuoc_menu {
    padding:0px 0px 0px 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;


    color: #515151;
}
.goicuoc_menu_swipe {
    width: 259px;
    height: 298px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.goicuoc_text {
    width: 100%;
    height: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.02em;
    text-align: center;
}
.goicuoc_menu_swipe > div {
    padding: 0px 20px;

}
.goicuoc_menu_swipe > div > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;

    padding: 10px 0px;
}

.boder_dotted {
    border-bottom: 1px solid #fff;
    border-style: none none dotted none;
}

.wrapper {
    display: grid;
    grid-template-areas:
    'btn1 btn2';
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.btn {
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
}
.btn1 {
    grid-area: btn1;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    grid-column: 1 / 8 ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    background: linear-gradient(0deg, #00A6DB 0.85%, #07BEDF 4.36%, #04B5D6 13.73%, #08C9EB 51.9%, #03C2F5 97.28%);
    z-index: 10;
    color:#fff
}
.btn2 {
    grid-area: btn2;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    display: inline-block;
    grid-column: 6 / 15;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    padding-left: 15px;
    color:#fff
}

.wrapper_type2 > label:nth-child(1) {
    background: #fff;
    color: #DA052E;

}

#do {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#do > div {
    width: calc( (100% - 100px)/ 3);
    padding-top: 20px;
}

#do div p:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;

    background: linear-gradient(0deg, #1F69D9 -25.58%, #105FD6 15.28%, #1462E0 29.31%, #1B67F1 60.84%, #206AFC 95%, #216BFF 173.32%, #1562E1 243.78%, #105FD6 280.23%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    padding: 15px 0px 5px 0px;

}

#do div p:nth-child(3) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;

    padding: 20px 0px 10px 0px;
}

#do div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logoList_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.logoList_content > img {
    width: 222px;
    height: 75px;
}

#registerForm_content {
    background: url('../access/registerForm/bgimg.svg');
    background-size: cover;
    height: 330px;
}

#registerForm_content div p{ 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(0deg, #00A6DB 0.85%, #07BEDF 4.36%, #04B5D6 13.73%, #08C9EB 51.9%, #03C2F5 97.28%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}

#registerForm_content div h4{ 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color:#fff
}
#registerForm_content > div { 
    padding-top: 44px;
}

#registerForm_content div div h4:nth-child(3){ 
    padding-top:13px
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: linear-gradient(0deg, #00A6DB 0.85%, #07BEDF 4.36%, #04B5D6 13.73%, #08C9EB 51.9%, #03C2F5 97.28%);

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    border-radius: 10px;
    margin-top: 30px;

  }

.footer_content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.footer_content > div {
    width: calc( (100% - 50px) / 4);
}

.footer_content div > p:nth-child(1) {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    background: linear-gradient(0deg, #1F69D9 -25.58%, #105FD6 15.28%, #1462E0 29.31%, #1B67F1 60.84%, #206AFC 95%, #216BFF 173.32%, #1562E1 243.78%, #105FD6 280.23%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.footer_content div > p:nth-child(n+2) {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    padding: 3px 0;
}
.ft_4  h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #277CBE;
}
.ft_4 img {
    height: 73px;
    width: 196px;
}

.ft_4_icon {
    width: 100%;
    display: flex;
    margin-top: 25px;
}
.ft_4_icon img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}